body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
.NavDiv{
  
  background-color: #f2f0eb;
}
.NavTabs{
  height: 13%;
  padding: 1%;
  margin-left: 3%;
}
.NavItem{
  color:black;
}
.DataContainer{
  margin: 0% 5% 5% 5%;
}
.AddDataButton{
  margin:3% 5% 0% 91%;
}
.AddDataHdng{
  margin-left: auto;
}